node_modules
.idea
/server/config/local.env.js
npm-debug.log
Dockerfile

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Artillery Files
artillery_report_*.json

