.container-flex {
  max-width: 768px;
  padding: 40px;
  margin: auto;
  font-size: medium;
}

.jumbotron {
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  overflow: auto;
}

div.description {
  margin: 20px;
}

hr {
  border-color: black;
  margin-bottom: 5px;
  margin-top: 5px;
}
.jumbotron > p {
  margin-bottom: 5px;
}

pre {
  margin-top: 10px;
}

#schemaCodeContent:hover {
  background-color: darkgrey;
}

ul.nav a:hover {
  background-color: lightgrey !important;
}
